.container
  %h1.logo Hive

  %p
    Hi! I suppose you came for the free Hive app?
    You know, the one that makes storing, sending and managing your Bitcoins ridiculously easy?

  %p
    Good news! We're almost ready. Until then, you can
    download the latest beta or follow our progress
    = link_to "on Github.", "http://github.com/grabhive/"

  %p.btn-container
    = link_to "Download beta", "#", :class => "button"

.teaser-container
  = image_tag "teaser.png", :alt => ""
