.teaser-container
  = image_tag "teaser.png", :alt => ""

.bg
  .warning-container
    Word of warning: This app is in ongoing development. Use only for testing purposes for now.

  .container
    %h1.logo Hive

    %p
      Hive is an integrated, user-friendly Bitcoin wallet for Mac OS X. And... it's almost
      ready!

    %p.btn-container
      = link_to "Download beta", "https://github.com/hivewallet/hive-osx/releases/download/2013121001/Hive-2013121001md.dmg", :class => "button"

    %p
      You can download an early beta version already &ndash; or follow our progress
      = link_to "on Github.", "http://github.com/hivewallet/"

    #mc_embed_signup
      %form.validate#mc-embedded-subscribe-form{:action => "http://314t.us1.list-manage.com/subscribe/post?u=c529910dc5fca0eb42dd1bab3&amp;id=223bfea234", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank", :novalidate => ""}
        %fieldset
          %p Leave us your email so we can keep you updated.
          %p
            %input.email#mce-EMAIL{:type => "email", :name => "EMAIL", :value => "", :placeholder => "Your email"}
            %input.sign#mc-embedded-subscribe{:type => "submit", :value => "Sign me up!", :name => "subscribe"}
          %p
            or write us at
            = link_to "w@grabhive.com", "mailto:w@grabhive.com"

    %p Have a peek!
